<div id="<%= dom_id season %>">
  <p>
    <strong>League:</strong>
    <%= season.league_id %>
  </p>

  <p>
    <strong>Start year:</strong>
    <%= season.start_year %>
  </p>

  <p>
    <strong>End year:</strong>
    <%= season.end_year %>
  </p>

</div>
