<div id="<%= dom_id league_membership %>">
  <p>
    <strong>User:</strong>
    <%= league_membership.member.email %>
  </p>

  <p>
    <strong>League:</strong>
    <%= league_membership.league.name %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= league_membership.role %>
  </p>

</div>
