<h1>Editing user league</h1>

<%= render "form", league_membership: @league_membership %>

<br>

<div>
  <%= link_to "Show this membership", league_league_membership_path(@league, @league_membership) %> |
  <%= link_to "Back to members", league_league_membership_path(@league) %>
</div>
