<h1>New user league</h1>

<%= render "form", league_membership: @league_membership %>

<br>

<div>
  <%= link_to "Back to members", league_league_memberships_path(@league, @league_membership) %>
</div>
