<h1>Editing team season</h1>

<%= render "form", team_season: @team_season %>

<br>

<div>
  <%= link_to "Show this team season", @team_season %> |
  <%= link_to "Back to team seasons", team_seasons_path %>
</div>
