<div id="<%= dom_id draft_pick %>">
  <p>
    <strong>Year:</strong>
    <%= draft_pick.year %>
  </p>

  <p>
    <strong>Round:</strong>
    <%= draft_pick.round %>
  </p>

  <p>
    <strong>Pick:</strong>
    <%= draft_pick.pick %>
  </p>

</div>
