<h1>Editing draft pick</h1>

<%= render "form", draft_pick: @draft_pick %>

<br>

<div>
  <%= link_to "Show this draft pick", @draft_pick %> |
  <%= link_to "Back to draft picks", league_season_draft_picks_path(@league, @season) %>
</div>
