<p style="color: green"><%= notice %></p>

<h1>User leagues</h1>

<div id="user_leagues">
  <% @user_leagues.each do |user_league| %>
    <%= render user_league %>
    <p>
      <%= link_to "Show this user league", user_league %>
    </p>
  <% end %>
</div>

<%= link_to "New user league", new_user_league_path %>
