<h1>Editing user team</h1>

<%= render "form", user_team: @user_team %>

<br>

<div>
  <%= link_to "Show this user team", @user_team %> |
  <%= link_to "Back to user teams", user_teams_path %>
</div>
