<p style="color: green"><%= notice %></p>

<h1>Salaries</h1>

<div id="salaries">
  <% @salaries.each do |salary| %>
    <%= render salary %>
    <p>
      <%= link_to "Show this salary", league_player_salary_path(@league, @player, salary) %>
    </p>
  <% end %>
</div>

<%= link_to "New salary", new_league_player_salary_path(@league, @player) %>
