<h1>Editing player</h1>

<%= render "form", player: @player %>

<br>

<div>
  <%= link_to "Show this player", league_player_path(@league, @player) %> |
  <%= link_to "Back to players", league_players_path(@league) %>
</div>
