<p style="color: green"><%= notice %></p>

<h1>Players</h1>

<div id="players">
  <% @players.each do |player| %>
    <%= render player %>
    <p>
      <%= link_to "Show this player", league_team_player_path(player.team.league, player.team, player) %>
    </p>
  <% end %>
</div>

<%= link_to "New player", new_league_team_player_path %>
