<h1>Editing trade machine</h1>

<%= render "form", trade_machine: @trade_machine %>

<br>

<div>
  <%= link_to "Show this trade machine", @trade_machine %> |
  <%= link_to "Back to trade machines", trade_machines_path %>
</div>
